.header {
  margin-bottom: 16px;
}

.header-top {
  padding: 38px 0;
}

.navbar {
  background-color: #e9e9e9;
}

.navbar-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0 -18px;
  padding-left: 0;
}

.navbar-nav>li>a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #393939;
  text-decoration: none;
  padding: 16px 18px;
}

.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
  color: var(--global-primary-background);
}
