.socials {
  margin: -5px;
  padding-left: 0;
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
}

.social {
  margin: 5px;
  display: inline-flex;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background-color: #b8b8b8;
  text-decoration: none;
  color: #fff;
  align-items: center;
  justify-content: center;
}

.social:hover,
.social:focus {
  text-decoration: none;
  background-color: var(--global-primary-background);
  color: #fff;
}
